.btnInicio {
  max-width: 180px;
}

/* .popupBienvenido,
li {
  font-family: Montserrat;
  font-size: 1.3rem;
} */

.logoAulab {
  display: block;
  margin: auto;
}

.fas.fa-plus,
.fas.fa-minus {
  padding-top: 3px !important;
  color: #16aebb;
}

.fas.fa-caret-right,
.fas.fa-caret-up {
  padding-top: 2px !important;
  color: #16aebb;
}

.videoHotspot {
  width: 500px !important;
  height: 300px !important;
  display: block;
  margin: 0 auto !important;
}

/*_________________ ↓ POP-UP HOTSPOT ↓ _________________*/

.h5pHotspot {
  height: 100% !important;
  width: 100% !important;
}

.e-hotspot--link {
  text-decoration: none !important;
}

.iconHotspot {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 4px;
  position: fixed;
  bottom: 70px;
  right: 60px;
  opacity: 100;
  z-index: 1000;
  text-shadow: 2px 2px 4px #000000;
}

@media (min-width: 500px) {
  .content {
    width: 43%;
  }
  .iconHotspot {
    margin: -20px -20px -30px -20px;
  }
}

@media (max-width: 500px) {
  .content {
    width: 43%;
  }
  .iconHotspot {
    margin: -20px -20px -30px -20px;
  }
}

/*_________________ ↑ POP-UP HOTSPOT ↑ _________________*/

.aContrast {
  color: white !important;
  padding-bottom: 2px;
  border-bottom: 1px solid white;
  text-decoration: none;
}

/* .aContrast:hover {
  padding-bottom: 2px;
  border-bottom: 1px solid #d84159;
  color: #d84159 !important;
  text-decoration: none;
} */

.aContrast:hover {
  padding: 2px 0;
  border-bottom: 1px solid white;
  color: white !important;
  text-decoration: none;
  background-color: black;
}

/* .aColor {
  color: white !important;
  text-decoration: none;
}

.aColor:hover {
  color: #ffd734 !important;
  text-decoration: none;
} */

/*_________________ ↓ NIVEL SECUNDARIA ↓ _________________*/

.email {
  color: #ffd734;
}

.noMoviles {
  color: white;
}

.tituloEjercicio {
  font-size: 1.5em;
  color: #ffd734;
}

.subtitulo {
  font-size: 2.5rem;
  line-height: 0;
}

/*_________________ ↓ TITLE ICONS ↓ _________________*/

a > .fa-download-disabled {
  color: grey !important;
  cursor: default;
}

.title-icon {
  color: white;
  font-size: 1.5rem;
}

.title-icon:hover {
  color: #d84159;
}

.tooltip {
  display: inline-block;
  position: relative;
  text-align: left;
}

.tooltip .top {
  text-align: center;
  min-width: 200px;
  top: -12px;
  left: 50%;
  transform: translate(-50%, -100%);
  padding: 10px 20px;
  color: #444444;
  background-color: #eeeeee;
  font-weight: normal;
  font-size: 13px;
  border-radius: 8px;
  position: absolute;
  z-index: 99999999;
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  display: none;
}

.tooltip:hover .top {
  display: block;
}

.tooltip .top i {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -12px;
  width: 24px;
  height: 12px;
  overflow: hidden;
}

.tooltip .top i::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #eeeeee;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

/*_________________ ↑ TITLE ICONS ↑ _________________*/

/*_________________ ↓ SET 1, 2, 3, 4 ↓ _________________*/

mark {
  border-top: 2px solid red;
  background-color: transparent;
  color: white;
}

.tituloEjercicio {
  font-size: 1.5em;
  color: #ffd734;
}

.itemInvestigar {
  display: inline-block;
  background-color: #d84159;
  border-radius: 10px;
  padding: 6px 10px;
  margin: 5px;
  font-size: 1.1rem;
}

/*_________________ ↑ SET 1, 2, 3, 4 ↑ _________________*/

/*_________________ ↓ VIRUS ↓ _________________*/

.botonesTituloSecundaria {
  margin-bottom: 0px !important;
}

.paisMapamundi {
  color: white;
  background-color: #d84159cc;
  padding: 3px;
  border-radius: 5px;
}

/*_________________ ↑ VIRUS ↑ _________________*/

/*_________________ ↓ VARIANTES ↓ _________________*/

td {
  line-height: 25px;
}

/*_________________ ↑ VARIANTES ↑ _________________*/

/*_________________ ↓ PROYECTO INTEGRADOR ↓ _________________*/

.textoNotasProyectoIntegrador {
  color: white;
  font-size: 0.8rem;
  line-height: 50px !important;
}

.listaProyectoIntegrador {
  color: white;
  font-size: 1rem;
  line-height: 30px;
}

.listaEdicion {
  line-height: 27.2px;
  font-size: 1rem;
  color: white !important;
}

.listaEdicion > a {
  font-size: 1rem;
  color: white !important;
}

/*_________________ ↑ PROYECTO INTEGRADOR ↑ _________________*/

/*_________________ ↑ NIVEL SECUNDARIA ↑ _________________*/

/*·····························································*/

/*_________________ ↓ NIVEL PRIMARIA ↓ _________________*/

.notas {
  font-size: 1em !important;
  font-family: Montserrat, sans-serif;
}

/*_________________ ↓ MENU SIDEBAR ↓ _________________*/

.stickyMenu {
  position: sticky;
  position: -webkit-sticky;
  top: 40px;
}

.menuPrimaria:hover {
  color: var(--e-global-color-primary);
}

.hideIconArrowDown {
  display: none !important;
}

.hoverIconArrowDown:hover + .hideIconArrowDown {
  display: inline !important;
  color: var(--e-global-color-primary);
  font-size: 15px !important;
  margin-left: 5px !important;
}

.hideIconImage {
  display: none !important;
}

.hoverIconImage:hover + .hideIconImage {
  display: inline !important;
  color: var(--e-global-color-primary);
  font-size: 15px !important;
  margin-left: 5px !important;
}

.hideIconMusic {
  display: none !important;
}

.hoverIconMusic:hover + .hideIconMusic {
  display: inline !important;
  color: var(--e-global-color-primary);
  font-size: 15px !important;
  margin-left: 5px !important;
}

.hideIconFlask {
  display: none !important;
}

.hoverIconFlask:hover + .hideIconFlask {
  display: inline !important;
  color: var(--e-global-color-primary);
  font-size: 15px !important;
  margin-left: 5px !important;
}

.hideIconRedo {
  display: none !important;
}

.hoverIconRedo:hover + .hideIconRedo {
  display: inline !important;
  color: var(--e-global-color-primary);
  font-size: 15px !important;
  margin-left: 5px !important;
}

.aulaPrimariaName {
  color: #ffd734;
  font-size: 3rem;
  line-height: normal;
}

@media (max-width: 881px) {
  .aulaPrimariaName {
    color: #ffd734;
    font-size: 2rem;
  }
}

/*_________________ ↑ MENU SIDEBAR ↑ _________________*/

.divSquare {
  width: 150px !important;
  height: 150px !important;
}

.htmlSquare {
  width: 130px !important;
  height: 130px !important;
}

.cancion {
  color: white;
  text-align: center;
  padding-top: 20px;
  font-size: 1rem;
}

/*_________________ ↓ POP-UP INSTRUCTIVO ↓ _________________*/

.parrafoInstructivo {
  font-size: 1rem;
}

/*_________________ ↑ POP-UP INSTRUCTIVO ↑ _________________*/

.fa-chalkboard-teacher {
  font-size: 1rem;
}

.tituloFicha {
  font-size: 1.2rem;
  font-weight: bold;
}

/*_________________ ↓ GLOBAL ↓ _________________*/
code {
  background-color: black;
  padding: 5px;
  border-radius: 5px;
  line-height: 35px;
}

html.h5p-iframe,
html.h5p-iframe > body {
  font-family: Montserrat !important;
}

ul,
ol {
  line-height: 1.7;
  margin-left: -20px;
  font-family: Montserrat;
}

th {
  white-space: nowrap;
}

.noWrapTable {
  white-space: nowrap;
}

.contanos {
  color: black;
}

.tituloH5P {
  font-size: 1.125rem;
}

.whiteText {
  color: white;
  font-size: 1rem;
}

.eicon-close {
  padding: 10px;
}

.elementor-accordion-icon-closed,
.elementor-accordion-icon-opened {
  margin-top: -3px !important;
}

.yellowText {
  color: #ffd734;
}

/*_________________ ↓ FORM ↓ _________________*/

/*input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    width: 25px;
    height: 25px;
    border: none;
    background: white;
}


input[type=radio]:after {
    content: "";
    opacity: 0;
    display: block;
    left: 3px;
    top: 3px;
    position: absolute;
    width: 17px;
    height: 17.7px;
    border-radius: 50%;
    background: black;
}

input[type=radio]:focus {
    outline: 3px solid #ffbf47;
    outline-offset: 0;
}

input[type=radio]:checked {
    border: none;
}

input:focus:not([type="button"]):not([type="submit"])  {
    color: #000000;
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: yellow;
}*/
/* 
input[type="radio"] {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  position: relative !important;
  width: 25px !important;
  height: 25px !important;
  border: 1px solid black !important;
  background: white !important;
}

input[type="radio"]:checked {
  border-color: #d84159 !important;
  border-style: solid !important;
  border-width: 4px !important;
}

input[type="radio"]:focus {
  border-color: #ffd734 !important;
  border-style: solid !important;
  border-width: 4px !important;
}

input[type="radio"]:after {
  width: 17px !important;
  height: 17.7px !important;
  border-radius: 50% !important;
  background: black !important;
  border-width: 4px !important;
  border-color: #d84159 !important;
}

input:focus:not([type="button"]):not([type="submit"]) {
  color: #000000 !important;
  border-style: solid !important;
  border-width: 4px !important;
  border-color: var(--e-global-color-primary) !important;
}

input[type="checkbox"]:after {
  content: "";
  opacity: 0;
  display: block !important;
  left: 7px !important;
  top: 3px !important;
  position: absolute !important;
  width: 8px !important;
  height: 15px !important;
  border: 4px solid var(--form--color-text) !important;
  border-top: 0 !important;
  border-left: 0 !important;
  transform: rotate(45deg) !important;
} */

.elementor-field-type-acceptance
  .elementor-field-subgroup
  .elementor-field-option
  input,
.elementor-field-type-acceptance
  .elementor-field-subgroup
  .elementor-field-option
  label,
.elementor-field-type-checkbox
  .elementor-field-subgroup
  .elementor-field-option
  input,
.elementor-field-type-checkbox
  .elementor-field-subgroup
  .elementor-field-option
  label,
.elementor-field-type-radio
  .elementor-field-subgroup
  .elementor-field-option
  input,
.elementor-field-type-radio
  .elementor-field-subgroup
  .elementor-field-option
  label {
  display: inline-block;
}

input[type="radio"]:focus {
  outline-offset: 2px;
  /* outline: 2px dotted var(--form--border-color); */
}

input[type="radio"]:active {
  outline-offset: 2px;
  /* outline: 2px dotted var(--form--border-color); */
}

input[type="radio"]:hover {
  outline-offset: 2px;
  /* outline: 2px dotted var(--form--border-color); */
  cursor: pointer;
}

.elementor-field:focus {
  border: 4px solid #d84159 !important;
}

/*_________________ ↑ FORM ↑ _________________*/

/*_________________ ↓ SCROLLBAR ↓ _________________*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*_________________ ↑ SCROLLBAR ↑ _________________*/

/*_________________ ↑ GLOBAL ↑ _________________*/

/* REVISE CODE WHETHER IT'S NEEDED OR NOT */

/* .iconHotspot {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 4px;
  position: fixed;
  bottom: 70px;
  right: 60px;
  opacity: 100;
  z-index: 1000;
}

@media (min-width: 500px) {
  .content {
    width: 43%;
  }
  .iconHotspot {
    margin: -20px -20px -30px -20px;
  }
}

@media (max-width: 500px) {
  .content {
    width: 43%;
  }
  .iconHotspot {
    margin: -20px -20px -30px -20px;
  }
}

table {
  width: 80%;
} 

.pagPrincipalsubTitulo {
    text-align: center;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
}



*/
/* 
table,
td,
tr,
th {
  background-color: #ffd734;
  border-radius: 15px;
  border: none !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
}

@media only screen and (max-width: 440px) {
  table,
  td,
  tr,
  th {
    background-color: #ffd734;
    border-radius: 15px;
    border: none !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    font-size: 0.7rem;
  }
}

code {
  color: white;
} */
